@import "tailwindcss";
@import "react-calendar/dist/Calendar.css";
:root {
  --background: #ffffff;
  --foreground: #171717;
  --status-inProgress-color: #ffd753;
  --status-completed-color: #6bd990;
  --status-overTime-color: #ff7072;
  --main-color: #97b3ff;
  --button-cancel: #ffd753;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

@font-face {
  font-family: "RubikOne";
  src: url("../../public/RubikOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SofiaSans";
  src: url("../../public/SofiaSans-Thin.ttf");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar-track {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1,
label {
  font-family: SofiaSans;
  font-weight: bold;
}

p {
  font-family: SofiaSans;
  font-size: 24px;
}
